.type-29 .nav-menu {
  margin-top: 50px; }
  .type-29 .nav-menu .logo {
    float: left; }
    .type-29 .nav-menu .logo img {
      width: 230px;
      padding-top: 17px; }
  .type-29 .nav-menu .menu {
    float: right; }
    .type-29 .nav-menu .menu ul {
      color: green;
      padding: 0;
      margin: 0; }
      .type-29 .nav-menu .menu > ul > li {
        float: left;
        display: inline-block;
        position: relative;
        font-size: 19px;
        font-size: 19px;
        line-height: 30px;
        font-weight: 400;
        padding: 26px 0px; }
        .type-29 .nav-menu .menu > ul > li > a {
          padding: 10px 15px;
          display: inline-block; }
    .type-29 .nav-menu .menu li {
      margin: 0px;
      list-style: none; }
      .type-29 .nav-menu .menu li:hover > a {
        color: gray; }
      .type-29 .nav-menu .menu li:hover .sub-menu {
        z-index: 1;
        display: inline-block; }
      .type-29 .nav-menu .menu li a {
        transition: all linear 0.15s;
        color: green;
        text-decoration: none; }
      .type-29 .nav-menu .menu li i {
        padding-left: 10px; }
      .type-29 .nav-menu .menu li .sub-menu {
        width: 1110px;
        padding: 5px 0px;
        position: absolute;
        top: 100%;
        right: 0;
        z-index: -1;
        display: inline-block;
        border: 1px solid; }
        .type-29 .nav-menu .menu li .sub-menu li {
          display: block;
          font-size: 19px;
          line-height: 30px;
          font-weight: 400; }
          .type-29 .nav-menu .menu li .sub-menu li a {
            padding: 10px 30px;
            display: block; }
            .type-29 .nav-menu .menu li .sub-menu li .sub > li {
              font-size: 17px;
              line-height: 30px;
              font-weight: 400; }
              .type-29 .nav-menu .menu li .sub-menu li .sub > li > a {
                color: #000; }
                .type-29 .nav-menu .menu li .sub-menu li .sub > li > a:hover {
                  color: gray; }
                  .type-29 .nav-menu .menu li .sub-menu li .sub > li > a:hover i {
                    color: gray; }
                .type-29 .nav-menu .menu li .sub-menu li .sub > li > a > i {
                  color: green;
                  padding-right: 13px; }
